<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="WDI 17 Graduation Night!" ng-init="">
  <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
    </ion-nav-buttons>

    <ion-content>
        <!-- /Event Description and Info/ -->
      <div class="container" style="width: 100%; overflow: hidden">

        <div>
          <div class="ga-pic">

            <img src="img/GA-logo.png" />

            <span class=description>
              <!-- <b>Description:</b>
                Let's get so hammered that we forget everything we've learned over the past twelve weeks -->
            </span>
          </div>

          <div class="info">
            <p>
             September 11th, 2015
            <br>
            1520 2nd St, Santa Monica, CA
            </p>
          </div>
        </div>
      </div>



      <!-- grid based flow for pics -->
        <div class="row event-pics" ng-repeat="image in images" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
                <img ng-src="data:image/jpg;base64,{{images[$index].image}}" on-touch="showImages(images[$index].image, $index)" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
                <img ng-src="data:image/jpg;base64,{{images[$index + 1].image}}" on-touch="showImages(images[$index+1].image, $index+1)" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
                <img ng-src="data:image/jpg;base64,{{images[$index + 2].image}}" on-touch="showImages(images[$index+2].image)" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.length">
                <img ng-src="data:image/jpg;base64,{{images[$index + 3].image}}" on-touch="showImages(images[$index+3].image)" width="100%" />
            </div>
        </div>
    </ion-content>
</ion-view>
