<ion-view view-title="Events">
  <ion-content class="tab-events">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events" type="item-text-wrap" href="#/tab/events/{{event.id}}">

        <img ng-src="img/octo.gif">
        <h2>{{event.title}}</h2>
        <p>{{event.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(event)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
