<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Airplane Mode
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Location Services
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Order By Most Recent
    </ion-toggle>
    <button class="button button-full button-outline button-assertive" ng-click="logout()">Log Out</button>
    </ion-list>
  </ion-content>
</ion-view>
