.splash-page {
    background-color: #886AEA;
}

.login-page {
    background-color: #886AEA;
}

.login-icon img {
    width: 200px; height: 200px;
    display: block;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.splash-btn{
  position: relative;
  left: 0;
  right: 0;
}
